{{ define "main" }}
<main class="bg-white mt-5_5   mt-6_5-ns   mt-2_5@50   mt-3_5@53 pb-6_5@53">
    <h1 class="element-invisible">{{ .Title }}</h1>
uuh

    {{ partial "news-categories" . }}


    {{ range (where .Site.Pages "Type" "news") }}
        {{ if in .Params.categories "awards" }}
            <!--   Featured Image on Small Displays   -->
            <div class="h-15 h-25-ns   dn@53" style="background:url({{ .Site.BaseURL }}/assets/images/news/featured_image.jpg) no-repeat center center;background-size:cover;"></div>
            <!-- End Featured Image on Small Displays -->

            <!--   Post Title   -->
            <div class="ph3 ph4-ns flex@53 justify-end pr3@53 w-50@53   pl5-l   pr-7@79   bg-greeen">
                <h2 class="f4 fw6 lh-1_75 mb-_4375 mt-2_1875 tracked-narrow ttu w-100 wrksns   f3-ns mb2-ns mt-2_125-ns   mt-3_625@53   w-25@79">
                    <a class="c-dark-brown db dim link" href="{{ .URL }}">{{ .Title }}</a>
                </h2>
            </div>
            <!-- End Post Title -->

            <!--   Post Summary   -->
            <div class="mb5   flex@53 mb0@53">
                <div class="w-50@53 flex@53 flex-column@53 items-end pr3   pr4-ns   pr3@53   pr-7@79">
                    <!--   Divider   -->
                    <div class="bg-dark-brown h-_125 mb-_625 mt0 w-100   w-27@90"></div>
                    <!-- End Divider -->

                    <!--   Mobile Location/Date   -->
                    <div class="flex justify-between mb-1_9375 pl3 w-100 bg-redd   pl4-ns   pl5-l  w-25@79 pl0@79">
                        <p class="c-gold mv0">{{ .Param "location" }}</p>
                        <p class="mb0 mv0">{{ .Date.Format "1/2/2006" }}</p>
                    </div>
                    <!-- End Mobile Location/Date -->

                    <!--   Summary Text   -->
                    <div class="lh-2 pl3   pl4-ns   pl5-l   w-25@79 pl0@79">
                        <div class="measure-wide nested-p   w-100@53">
                            <p>{{ .Summary | markdownify }}</p>
                            <a class="c-dark-brown dib f4 jean-luc lh-1_5 link tracked-narrow ttu   css-arrow-link" href="{{ .URL }}">Read More</a>
                        </div>
                    </div>
                    <!-- End Summary Text -->
                </div>

                <!--   Featured Image on Large Displays   -->
                <div class="dn   db@53 w-50@53   pr4@53 pl3@53   pr5-l">
                    <picture>
                        <source media="(min-width: 53rem)" srcset="{{ .Site.BaseURL }}/assets/images/news/featured_image.jpg" />
                        <img alt="" class="db mt-_0625   w-31@79" src="{{ .Site.BaseURL }}/assets/images/placeholder.gif" />
                    </picture>
                </div>
                <!-- End Featured Image on Large Displays -->
            </div>
            <!-- End Post Summary -->
        {{ end }}
    {{ end }}
</main>
{{ end }}
