/* ----------------------------------------------- FONTS ------------------------------------------------ */
@font-face {
    font-family: "Stag Book";
    font-weight:400;
    src: url("../fonts/Stag-Book.otf") format("opentype");
}
.stag{
    font-family:"Stag Book", sans-serif;
    font-weight:400
}
@font-face {
    font-family: "Work Sans";
    font-weight:400;
    src: url("../fonts/WorkSans-Regular.woff2") format("woff2"),
         url("../fonts/WorkSans-Regular.woff") format("woff");
}
@font-face {
    font-family: "Work Sans";
    font-weight:500;
    src: url("../fonts/WorkSans-Medium.woff2") format("woff2"),
         url("../fonts/WorkSans-Medium.woff") format("woff");
}
@font-face {
    font-family: "Work Sans";
    font-weight:600;
    src: url("../fonts/WorkSans-SemiBold.woff2") format("woff2"),
         url("../fonts/WorkSans-SemiBold.woff") format("woff");
}
.wrksns {font-family:"Work Sans", sans-serif}
/* --------------------------------------------- END FONTS ---------------------------------------------- */
