/* --------------------------------------------- UTILITIES ---------------------------------------------- */
.b--c-dark-brown{border-color:#2B2422}
.b--c-gold{border-color:#D18419}
.b--c-gold-hover:hover{border-color:#D18419}
.bg-dark-brown{background-color:/*#2B2422*/rgba(43,36,34,.98)}
.bg-gold{background-color:/*#D18419*/ rgba(209,132,25,.9)}
.bg-putty{background-color:#E8E3D7}
.bg-red{background-color:/*#E63728*/rgba(238, 59, 59, .95)}
.bg-white-95{background-color:rgba(255,255,255,.95)}
.c-dark-brown{color:#2B2422}
.c-gold{color:#D18419}
.c-putty{color:#E8E3D7}
.c-red{color:#E63728}
.f-1_0625{font-size:1.0625rem}
.f-1_125{font-size:1.125rem}
.h-_125{height:.125rem}
.h-1_75{heght:1.75rem}
.h-20{height:20rem}
.h-30{height:30rem}
.hover-bg-dark-brown:hover{background-color:#2B2422}
.hover-bg-gold:hover{background-color:#D18419}
.hover-c-dark-brown:hover{color:#2B2422}
.hover-c-gold:hover{color:#D18419}
.hover-c-red:hover{color:#E63728}
.h-_0625{height:.0625rem}
.h-2_5{height:2.5rem}
.h-3{height:3rem}
.lh-1_5{line-height:1.5rem}
.lh-2{line-height:2rem}
.mb-_3125{margin-bottom:.3125rem}
.mb-1_1875{margin-bottom:1.1875rem}
.mb-1_75{margin-bottom:1.75rem}
.mt-_75{margin-top:.75rem}
.mt-3{margin-top:3rem}
.pb-3{padding-bottom:3rem}
.pt-2_5{padding-top:2.5rem}
.pt-_375{padding-top:.375rem}
.tracked-narrow{letter-spacing:.05em}
.w-1_75{width:1.75rem}
.w-3_5{width:3.5rem}
@media screen and (min-width:23em) {
    .f4\@23{font-size:1.25rem}
}
@media screen and (min-width:30em) {
    .h3-ns{height:4rem}
    .h-30-ns{height:30rem}
    .h-37_5-ns{height:37.5rem}
    .mb-_375-ns{margin-bottom:.375rem}
    .mt5-ns{margin-top:4rem}
}
@media screen and (min-width:50em) {
    .bn\@50{border:none}
    .db\@50{display:block}
    .dn\@50{display:none}
    .flex\@50{display:-webkit-box;display:-ms-flexbox;display:flex}
    .ml4\@50{margin-left:2rem}
    .mt0\@50{margin-top:0}/*KEEP*/
    .pt-_125\@50{padding-top:.125rem}
    .static\@50{position:static}
}
@media screen and (min-width:60em) {
    .center-l{margin-left:auto;margin-right:auto}
    .f-1_0625-l{font-size:1.0625rem}
    .h-10_5-l{height:10.5rem}
    .mw-72-l{max-width:72rem}
    .pt-1_25-l{padding-top:1.25rem}
    .pt-2_625-l{padding-top:2.625rem}
}
@media screen and (min-width:72em) {
.mw-64\@72{max-width:64rem}
.ph0\@72{padding-left:0;padding-right:0}
}
/* ------------------------------------------- END UTILITIES -------------------------------------------- */
