<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title></title>

		<link rel="canonical" href="" />
		<meta name="description" content="" />
    	<meta name="keywords" content="" />
		<meta name="geo.region" content="" />
		<meta name="geo.placename" content="" />
		<meta name="robots" content="all" />

		<meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Sitewide Styles -->
		<link href="assets/css/tachyons.css" rel="stylesheet">
        <link href="assets/css/utilities.css" rel="stylesheet">
		<link href="assets/css/main.css" rel="stylesheet">
        <link href="assets/css/fonts.css" rel="stylesheet">
		<!--[if IE]>
			<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
	</head>
	<body class="debug-grid" style="background-image:url(/grid-8.svg);background-size:8px 8px;">
        <nav class="bb b--light-gray bg-white fixed top-0 flex h-3 itekms-center justify-between mw-100 w-100   h3-ns   bn@50 static@50   center-l db-l h-10_5-l">
            <a class="db ml3 z-1   ml4@50   center-l mb2-l pt-2_625-l   css-nav-logo" href="/">
                <img alt="Cocina 214" class="db" src="assets/logos/nav_logo_full.svg" />
            </a>
            <button aria-expanded="false"
                    class="bg-transparent bn button-reset mr3 mv0 pa0 pointer z-1 w-1_5   dn@50"
                    id="js-menu">
                <span class="flex flex-wrap justify-end   w-100">
                    <span class="bg-dark-brown h-_0625 mb-_375 w-100"></span>
                    <span class="bg-dark-brown h-_0625 mb-_375 w-100"></span>
                    <span class="bg-dark-brown h-_0625 w-100"></span>
                </span>
                <span class="dn element-invisible">Menu</span>
            </button>
            {{ partial "nav" . }}
        </nav>

		{{ block "main" . }}{{ end }}



        <script src="assets/js/nav.js" async=""></script>
        <script src="assets/js/respimage.js" async=""></script>
        <script>
            var navButton = document.querySelector('nav button');
            navButton.addEventListener('click', function() {
                let expanded = this.getAttribute('aria-expanded') === 'true' || false;
                this.setAttribute('aria-expanded', !expanded);
                let menu = this.nextElementSibling;
                menu.hidden = !menu.hidden;
            });
        </script>
	</body>
</html>
