<!DOCTYPE html>
<html class="bg-near-white" lang="en">
	<head>
		<meta charset="utf-8">
		<title></title>

		<link rel="canonical" href="" />
		<meta name="description" content="" />
    	<meta name="keywords" content="" />
		<meta name="geo.region" content="" />
		<meta name="geo.placename" content="" />
		<meta name="robots" content="all" />

		<meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Sitewide Styles -->
		<link href="../assets/css/tachyons.css" rel="stylesheet">
        <link href="../assets/css/utilities.css" rel="stylesheet">
		<link href="../assets/css/main.css" rel="stylesheet">
        <link href="../assets/css/fonts.css" rel="stylesheet">
		<link href="../assets/css/hamburger.css" rel="stylesheet">
		<!--[if IE]>
			<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
	</head>
	<body class="bg-white c-dark-brown center stag" style="baackground-image:url(/grid-8.svg);baackground-size:8px 8px;max-width:2000px">
        <nav class="bb b--light-gray bg-white fixed top-0 flex h-3 items-center justify-between w-100   h3-ns   bn@50 static@50   db-l h-10_5-l">
            <a class="db ml3 z-1   ml4@50   center-l mb2-l pt-2_625-l   css-nav-logo bg-green" href="/">
                <img alt="Cocina 214" class="db   nl1-ns   ml0-l" src="../assets/logos/nav_logo_full.svg" />
            </a>
			<button aria-expanded="false" class="bg-transparent bn button-reset ma0 pa3 pointer w-3_5 z-1   dn@50   hamburger hamburger--squeeze" id="js-menu" type="button">
  				<span class="db relative w-100 hamburger-box">
    				<span class="db   hamburger-inner"></span>
  				</span>
				<span class="element-invisible">Menu</span>
			</button>
            {{ partial "nav" . }}
        </nav>

		{{ block "main" . }}{{ end }}

		{{ partial "footer" . }}


		<!-- Nav trigger-->
		<script>
  		// Look for .hamburger
  		var hamburger = document.querySelector(".hamburger");
  		// On click
  		hamburger.addEventListener("click", function() {
    	// Toggle class "is-active"
    	hamburger.classList.toggle("is-active");
    	// Do something else, like open/close menu
  		});
		</script>
		<!-- Nav transition -->
        <script src="../assets/js/nav.js" async=""></script>
		<!-- Responsive Images -->
        <script src="../assets/js/respimage.js" async=""></script>
		<!-- Toggle "aria-expanded" on menu button -->
        <script>
            var navButton = document.querySelector('#js-menu');
            navButton.addEventListener('click', function() {
                let expanded = this.getAttribute('aria-expanded') === 'true' || false;
                this.setAttribute('aria-expanded', !expanded);
                let menu = this.nextElementSibling;
                menu.hidden = !menu.hidden;
            });
        </script>
	</body>
</html>
