{{ define "main" }}

<div class="lazyload t-del-2    h-26 mt-3   mt5-ns   mt0@50" data-bg="{{ .Params.hero_photo }}" style="background-size:cover;background-position:center center;"></div>

<main class="ph3-ns">
    <div class="section-animate bg-gold mt2   mv3-ns   flex@53">
        <div class=" mb2 pb-5_3125 pr3 pt-3_5 tracked-narrow   mb3-ns pr4-ns   mb0@53 w-50@53   pr5-l   pr-7@79">
            <div class="fr@90 w-27@90">
                <h1 class="fade-in-right  f4 fw6 lh-2 ml3 mv0 pt-_0625 tracked-narrow ttu w-100 wrksns   f3-ns ml4-ns pt0-ns   fr@79 w-25@79">Dine with Us</h1>

                <!--   Divider   -->
                <div class="bg-dark-brown h-_125 mb-1_1875 mt-_3125 w-100   mt-_375-ns   fr@79"></div>
                <!-- End Divider -->

                <div class=" lh-2 ml3 white   ml4-ns   fr@79 w-25@79">
                    <div class="fade-in t-del-2  mb-2_6875 measure-wide nested-p">
                        <p>{{ .Params.dine_with_us.text | markdownify }}</p>
                        {{ range first 1 .Params.dine_with_us.menus }}
                            <a class="dib f4 jean-luc lh-1_5 link tracked-narrow ttu white   css-arrow-link" href="{{ .menu }}">{{ .menu_name }} Menu</a>
                        {{ end }}
                        <br>
                        {{ range after 1 .Params.dine_with_us.menus }}
                            <a class="dib f4 jean-luc lh-1_5 link tracked-narrow ttu white   css-arrow-link" href="{{ .menu }}">{{ .menu_name }} Menu</a>
                        {{ end }}
                    </div>

                    <div class="bg-dark-brown h-_125 mb-1_1875"></div>

                    <div class="fade-in t-del-2 mb-2_6875   flex@25">
                            <div class="mb-1_375   mb0@25 w-12@25">
                                <p class="mv0">{{ .Params.dine_with_us.featured.name }}</p>
                                <p class="mv0">{{ .Params.dine_with_us.featured.hours }}</p>
                                <p class="mv0">{{ .Params.dine_with_us.featured.when }}</p>
                            </div>
                            <a class="dib f4 jean-luc link tracked-narrow ttu white   lh-2_25@25 ml4@25   self-end@25   css-arrow-link" href="{{ .Params.dine_with_us.featured.menu }}">{{ .Params.dine_with_us.featured.menu_name }} Menu</a>
                    </div>

                    <div class="bg-dark-brown h-_125 mb-1_1875"></div>

                    <div class="fade-in t-del-2 flex@25">
                        <p class="mb-1_375 mt0   mb0@25 w-12@25">{{ .Params.dine_with_us.reservations.text }}</p>
                        <a class="dib f4 jean-luc link tracked-narrow ttu white   lh-2_25@25 ml4@25 self-end@25   css-arrow-link"  href="tel:{{ .Params.dine_with_us.reservations.phone }}">{{ .Params.dine_with_us.reservations.phone }}</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="overflow-hidden h-20   h-30-ns   h-auto@53 w-50@53">
            <div data-bg="{{ .Params.dine_with_us.photo }}" style="height: 100%;width:100%;background-position:center center;background-size:cover" class="lazyload scaleUpImg t-del-2"></div>
        </div>
    </div>



    <div class="section-animate   mb-4_75 mt2   mt3-ns   flex@53">
        <div class="bg-dark-brown mb2 pb-1_625 pr3 pt-3_5 tracked-narrow   mb3-ns pr4-ns   mb0@53 w-50@53   pr5-l   pr-7@79   css-ie-flex-shrink">
            <div class="fr@90 w-27@90">
                <h2 class="fade-in-right c-gold f4 fw6 lh-2 ml3 mv0 pt-_0625 tracked-narrow ttu w-100 wrksns   f3-ns ml4-ns pt0-ns   fr@79 w-25@79">Catering</h2>

                <!--   Divider   -->
                <div class="bg-gold h-_125 mb-1_1875 mt-_3125 w-100   mt-_375-ns   fr@79"></div>
                <!-- End Divider -->

                <div class="fade-in t-del-1 lh-2 mb-2_6875 measure-wide ml3 nested-p white   ml4-ns   fr@79 w-25@79">
                    <p></p>
                    <a class="dib f4 jean-luc lh-1_5 link mt-1_625 tracked-narrow ttu white   css-arrow-link" href="">Menu</a>
                </div>
            </div>
        </div>

        <div class="bg-red mb2 pb-1_625 pt-3_5 tracked-narrow white   mb3-ns   mb0@53 w-50@53   css-ie-flex-shrink">
            <h2 class="fade-in-right t-del-1 f4 fw6 lh-2 ml3 mv0 pt-_0625 tracked-narrow ttu wrksns   f3-ns ml4-ns pt0-ns   mr5-l   ml-7@79 w-25@79">Private Dining</h2>

            <!--   Divider   -->
            <div class="bg-white h-_125 mb-1_1875 mr3 mt-_3125   mr4-ns mt-_375-ns   mr5-l   w-32@79   ml-5@90   w-27@90"></div>
            <!-- End Divider -->

            <div class="fade-in t-del-2   lh-2 mb-2_6875 measure-wide mh3 nested-list nested-p   mh4-ns   mr5-l   ml-7@79 w-25@79">
                <!--<p>Reserve our stunning private dining room for your private event needs, from personal to business.</p>
                <ul>
                    <li>Menus are completely unique to host’s needs.</li>
                    <li>Two HD TVs and sound system available for use.</li>
                    <li>Linens included with reservation.</li>
                </ul>-->
                <a class="dib f4 jean-luc lh-1_5 link mt-1_625 tracked-narrow ttu white   css-arrow-link" href="">Menu</a>
            </div>
        </div>
    </div>



    <div class="section-animate center mw-64 ph3   ph4-ns   ph0@70">
        <h2 class="fade-in-right f4 fw6 lh-1_5 mb-_5625 mt0 pt-_0625 tracked-narrow ttu wrksns   f3-ns mb-_625-ns pt0-ns">Book Your Private Party or Catering</h2>
        <!--   Divider   -->
        <div class="bg-dark-brown h-_125 mb-1_5"></div>
        <!-- End Divider -->
        <div class="fade-in t-del-1 flex@40">
            <div class="c-gold   w-50@40 mr2@40">
                <img alt="" class="db mb-1_25" src="{{ .Site.BaseURL }}/assets/images/dine/large_photo.jpg" />
                <div class="mb-3_125   mw-18_5-l">
                    <h3 class="f4 fw6 lh-1_5 jean-luc mb-_375 mt0 pt-_0625 tracked-narrow ttu">Winter Park Events</h3>
                    <p class="lh-2 mb-1_5 mt0">Contact our Winter Park Private Dining &amp; Event Manager, Heather. Please allow up to 48hrs for a response.</p>
                    <p class="fw6 lh-solid mb-_4375 mt0 tracked-narrow ttu wrksns">Heather Cox</p>
                    <a class="c-gold hover-c-dark-brown lh-solid link mv0" href="">000 . 000 . 0000</a>
                    <br>
                    <a class="c-gold hover-c-dark-brown lh-solid link mv0" href="">heather@cocina214.com</a>
                </div>
            </div>
            <div class="w-50@40 ml2@40">
                <img alt="" class="db mb-1_25" src="{{ .Site.BaseURL }}/assets/images/dine/large_photo.jpg" />
                <div class="mb-3_125 mw-18_5-l">
                    <h3 class="f4 fw6 lh-1_5 jean-luc mb-_375 mt0 pt-_0625 tracked-narrow ttu">Daytona Beach Events</h3>
                    <p class="lh-2 mb-1_5 mt0">Contact our Daytona Beach Private Dining &amp; Event Manager, Name. Please allow up to 48hrs for a response.</p>
                    <p class="fw6 lh-solid mb-_4375 mt0 tracked-narrow ttu wrksns">First Last</p>
                    <a class="c-dark-brown hover-c-gold lh-solid link mv0" href="">000 . 000 . 0000</a>
                    <br>
                    <a class="c-dark-brown hover-c-gold lh-solid link mv0" href="">first@cocina214.com</a>
                </div>
            </div>
        </div>
    </div>
</main>
{{ end }}
