{{ define "main" }}
<style>
.bg-1, .bg-2 {
  -webkit-animation: fade 14.5s ease infinite;
  -moz-animation: fade 14.5s ease infinite;
  -ms-animation: fade 14.5s ease infinite;
  -o-animation: fade 14.5s ease infinite;
  animation: fade 14.5s ease infinite;
}
.bg-1 {
  -webkit-animation-delay: 0.5s;
  -mos-animation-delay: 0.5s;
  -ms-animation-delay: 0.5s;
  -o-animation-delay: 0.5s;
  animation-delay: 0.5s;
}
.bg-2 {
  -webkit-animation-delay: 7.5s;
  -mos-animation-delay: 7.5s;
  -ms-animation-delay: 7.5s;
  -o-animation-delay: 7.5s;
  animation-delay: 7.5s;
}

@-moz-keyframes fade {
  0% {
    opacity: 1;
  }
  12.5% {
    opacity: 1;
  }
  25% {
    opacity: 1;
  }
  37.5% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  62.5% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  87.5% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fade {
  0% {
    opacity: 1;
  }
  12.5% {
    opacity: 1;
  }
  25% {
    opacity: 1;
  }
  37.5% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  62.5% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  87.5% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade {
  0% {
    opacity: 1;
  }
  12.5% {
    opacity: 1;
  }
  25% {
    opacity: 1;
  }
  37.5% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  62.5% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  87.5% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.text-shadow { text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3); }
.bg-black-03{background-color:rgba(0,0,0,.01)}
</style>
<!--<div class="lazyload t-del-2    h-26 mt-3   mt5-ns   mt0@50" data-bg="{{ .Params.hero_photo }}" style="background-size:cover;background-position:center center;"></div>-->


<div class="h-26 mt-3   mt5-ns   mt0@50   relative bg-black-03">
    <div class="absolute h-100 left-0 top-0 w-100  bg-2"
    style="background: url({{ .Params.hero_photos.daytona_beach }}) no-repeat center;background-size: cover;">
        <div class="absolute bottom-0 center left-0 ph3 right-0 tr w-100   ph-3-ns   ph5-l   mw-64@72 ph0@72">
            <p class="f4 jean-luc text-shadow tracked-narrow white">Daytona Beach</p>
        </div>
    </div>
    <div class="absolute h-100 left-0 top-0 w-100  bg-1"
    style="background: url({{ .Params.hero_photos.winter_park }}) no-repeat center;background-size: cover;">
        <div class="absolute bottom-0 center left-0 ph3 right-0 tr w-100   ph-3f-ns   ph5-l   mw-64@72 ph0@72">
            <p class="f4 jean-luc text-shadow tracked-narrow white">Winter Park</p>
        </div>
        <!--<p class="absolute bottom-0 f4 jean-luc right-2 text-shadow tracked-narrow white">Winter Park</p>-->
    </div>
</div>


<main class="ph3-ns bg-black-03">
    <div class="section-animate bg-gold mt2   mv3-ns   flex@53">
        <div class=" mb2 pb-5_3125 pr3 pt-3_5 tracked-narrow   mb3-ns pr4-ns   mb0@53 w-50@53   pr5-l   pr-7@79">
            <div class="fr@90 w-27@90">
                <h1 class="fade-in-right  f4 fw6 lh-2 ml3 mv0 pt-_0625 tracked-narrow ttu w-100 wrksns   f3-ns ml4-ns pt0-ns   fr@79 w-25@79">Dine with Us</h1>

                <!--   Divider   -->
                <div class="bg-dark-brown h-_125 mb-1_1875 mt-_3125 w-100   mt-_375-ns   fr@79"></div>
                <!-- End Divider -->

                <div class=" lh-2 ml3 white   ml4-ns   fr@79 w-25@79">
                    <div class="fade-in t-del-2  mb-2_6875 measure-wide nested-p">
                        <p>{{ .Params.dine_with_us.text | markdownify }}</p>
                        {{ range first 1 .Params.dine_with_us.menus }}
                            <a class="dib f4 jean-luc lh-1_5 link tracked-narrow ttu white   css-arrow-link" href="{{ .menu }}">{{ .menu_name }} Menu</a>
                        {{ end }}
                        {{ range after 1 .Params.dine_with_us.menus }}
                            <br>
                            <a class="dib f4 jean-luc lh-1_5 link tracked-narrow ttu white   css-arrow-link" href="{{ .menu }}">{{ .menu_name }} Menu</a>
                        {{ end }}
                    </div>

                    <div class="bg-dark-brown h-_125 mb-1_1875"></div>

                    <div class="fade-in t-del-2 mb-2_6875   flex@25">
                            <div class="mb-1_375   mb0@25 w-12@25">
                                <p class="mv0">{{ .Params.dine_with_us.featured.name }}</p>
                                <p class="mv0">{{ .Params.dine_with_us.featured.hours }}</p>
                                <p class="mv0">{{ .Params.dine_with_us.featured.when }}</p>
                            </div>
                            <a class="dib f4 jean-luc link tracked-narrow ttu white   lh-2_25@25 ml4@25   self-end@25   css-arrow-link" href="{{ .Params.dine_with_us.featured.menu }}">{{ .Params.dine_with_us.featured.menu_name }} Menu</a>
                    </div>

                    <div class="bg-dark-brown h-_125 mb-1_1875"></div>

                    <div class="fade-in t-del-2 flex@25">
                        <p class="mb-1_375 mt0   mb0@25 w-12@25">{{ .Params.dine_with_us.reservations.text }}</p>
                        <a class="dib f4 jean-luc link tracked-narrow ttu white   lh-2_25@25 ml4@25 self-end@25   css-arrow-link"  href="tel:{{ .Params.dine_with_us.reservations.phone }}">{{ .Params.dine_with_us.reservations.phone }}</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="ooverflow-hidden h-20   h-30-ns   h-auto@53 w-50@53">
 -            <div data-bg="{{ .Params.dine_with_us.photo }}" style="height: 100%;width:100%;background-position:center center;background-size:cover" class="lazyload sscaleUpImg tt-del-2"></div>
    </div>
    <!--
        <div class="h-20 h-30-ns h-auto@53 w-50@53" style="background-image:url({{.Params.dine_with_us.photo}});background-position:center center;background-size:cover">
        </div>-->

    </div>



    <div class="section-animate   mb-4_75 mt2   mt3-ns   flex@53">
        <div class="bg-dark-brown mb2 pb-1_625 pr3 pt-3_5 tracked-narrow   mb3-ns pr4-ns   mb0@53 w-50@53   pr5-l   pr-7@79   css-ie-flex-shrink">
            <div class="fr@90 w-27@90">
                <h2 class="fade-in-right c-gold f4 fw6 lh-2 ml3 mv0 pt-_0625 tracked-narrow ttu w-100 wrksns   f3-ns ml4-ns pt0-ns   fr@79 w-25@79">Catering</h2>

                <!--   Divider   -->
                <div class="bg-gold h-_125 mb-1_1875 mt-_3125 w-100   mt-_375-ns   fr@79"></div>
                <!-- End Divider -->

                <div class="fade-in t-del-1 lh-2 mb-2_6875 measure-wide ml3 nested-p white   ml4-ns   fr@79 w-25@79">
                    <p>{{ .Params.catering.text | markdownify }}</p>
                    <a class="dib f4 jean-luc lh-1_5 link mt-1_625 tracked-narrow ttu white   css-arrow-link" href="{{ .Params.catering.menu }}">View Catering Menu</a>
                </div>
            </div>
        </div>

        <div class="bg-red mb2 pb-1_625 pt-3_5 tracked-narrow white   mb3-ns   mb0@53 w-50@53   css-ie-flex-shrink">
            <h2 class="fade-in-right t-del-1 f4 fw6 lh-2 ml3 mv0 pt-_0625 tracked-narrow ttu wrksns   f3-ns ml4-ns pt0-ns   mr5-l   ml-7@79 w-25@79">Private Dining</h2>

            <!--   Divider   -->
            <div class="bg-white h-_125 mb-1_1875 mr3 mt-_3125   mr4-ns mt-_375-ns   mr5-l   w-32@79   ml-5@90   w-27@90"></div>
            <!-- End Divider -->

            <div class="fade-in t-del-2   lh-2 mb-2_6875 measure-wide mh3 nested-list nested-p   mh4-ns   mr5-l   ml-7@79 w-25@79">
                <p>{{ .Params.private_dining.text | markdownify }}</p>
                <a class="dib f4 jean-luc lh-1_5 link mt-1_625 tracked-narrow ttu white   css-arrow-link" href="{{ .Params.private_dining.menu }}">View Private Dining Menu</a>
            </div>
        </div>
    </div>



    <div class="section-animate center mw-64 ph3   ph4-ns   ph0@70">
        <h2 class="fade-in-right f4 fw6 lh-1_5 mb-_5625 mt0 pt-_0625 tracked-narrow ttu wrksns   f3-ns mb-_625-ns pt0-ns">{{ .Params.events.title }}</h2>
        <!--   Divider   -->
        <div class="bg-dark-brown h-_125 mb-1_5"></div>
        <!-- End Divider -->
        <div class="fade-in t-del-1 flex@40">
            <div class="w-50@40 mr2@40">
                <img alt="" class="db mb-1_25" src="{{ .Params.events.winter_park_photo }}" />
                <div class="mb-3_125   mw-18_5-l">
                    <h3 class="f4 fw6 lh-1_5 jean-luc mb-_375 mt0 pt-_0625 tracked-narrow ttu">Winter Park Events</h3>
                    <p class="lh-2 mb-1_5 mt0">{{ .Params.events.winter_park_text }}</p>
                    <p class="fw6 lh-solid mb-_4375 mt0 tracked-narrow ttu wrksns">{{ .Site.Data.Winter_Park_Info.Event_Coordinator.first_name }} {{ .Site.Data.Winter_Park_Info.Event_Coordinator.last_name }}</p>
                    <a class="c-dark-brown hover-c-gold lh-solid link mv0" href="tel:{{ .Site.Data.Winter_Park_Info.Event_Coordinator.phone }}">{{ .Site.Data.Winter_Park_Info.Event_Coordinator.phone }}</a>
                    <br>
                    <a class="c-dark-brown hover-c-gold lh-solid link mv0" href="mailto:{{ .Site.Data.Winter_Park_Info.Event_Coordinator.email }}">{{ .Site.Data.Winter_Park_Info.Event_Coordinator.email }}</a>
                </div>
            </div>
            <div class="w-50@40 ml2@40">
                <img alt="" class="db mb-1_25" src="{{ .Params.events.daytona_beach_photo }}" />
                <div class="mb-3_125 mw-18_5-l">
                    <h3 class="f4 fw6 lh-1_5 jean-luc mb-_375 mt0 pt-_0625 tracked-narrow ttu">Daytona Beach Events</h3>
                    {{ if $.Site.Data.Daytona_Beach_Info.show_coming_soon_badge }}
                        <p class="b--c-dark-brown ba bg-dark-brown bw1 dib f-1_125 h-2_5 jean-luc lh-1_5 link mt2 ph4 pt-_375 tracked-narrow ttu white">Coming Soon</p>
                    {{ end }}
                    <div class="{{ if $.Site.Data.Daytona_Beach_Info.show_coming_soon_badge }}dn{{end}}">
                        <p class="lh-2 mb-1_5 mt0">{{ .Params.events.daytona_beach_text }}</p>
                        <p class="fw6 lh-solid mb-_4375 mt0 tracked-narrow ttu wrksns">{{ .Site.Data.Daytona_Beach_Info.Event_Coordinator.first_name }} {{ .Site.Data.Daytona_Beach_Info.Event_Coordinator.last_name }}</p>
                        <a class="c-dark-brown hover-c-gold lh-solid link mv0" href="tel:{{ .Site.Data.Daytona_Beach_Info.Event_Coordinator.phone }}">{{ .Site.Data.Daytona_Beach_Info.Event_Coordinator.phone }}</a>
                        <br>
                        <a class="c-dark-brown hover-c-gold lh-solid link mv0" href="mailto:{{ .Site.Data.Daytona_Beach_Info.Event_Coordinator.email }}">{{ .Site.Data.Daytona_Beach_Info.Event_Coordinator.email }}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{{ end }}
