{{ define "main" }}
<style>
/*.w-48{width:48%}*/
/*.mb-_875{margin-bottom:.875rem}*/
.mb-_375{margin-bottom:.375rem}
.mb-1_5{margin-bottom:1.5rem}
.mb-3_8125{margin-bottom:3.8125rem}
.mt-_3125{margin-top:.3125rem}
.nt-_1875{margin-top:-.1875rem}
.pb-4_3125{padding-bottom:4.3125rem}
/*.pb-4_6875{padding-bottom:4.6875rem}*/
.pt-_0625{padding-top:.0625rem}
.pt-3_5{padding-top:3.5rem}
.w-12{width:12rem}
@media screen and (min-width:23rem) {
    .f5\@23{font-size:1rem}
}
@media screen and (min-width:25.875em) {
    .f6\@25{font-size:.875rem}
    .flex\@25{display:-webkit-box;display:-ms-flexbox;display:flex}
    .mb5\@25{margin-bottom:2rem}
    .ml3\@25{margin-left:1rem}
    .pb-3\@25{padding-bottom:3rem}
    /*.pb-4_5\@25{padding-bottom:4.5rem}*/
    .w-48\@25{width:48%}
}
@media screen and (min-width:30em) {
    /*.db-ns{display:block}*/
    .mt-_375-ns{margin-top:.375rem}
    .mw-12-ns{max-width:12rem}
    /*.pb-3_5-ns{padding-bottom:3.5rem}*/
    /*.pt0-ns{padding-top:0}*/
    .w-auto-ns{width:auto}
    .w-12-ns{width:12rem}
}
@media screen and (min-width:40em) {
    .db\@40{display:block}
    .flex\@40{display:-webkit-box;display:-ms-flexbox;display:flex}
    .justify-between\@40{-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between}
    .mb0\@40{margin-bottom:0}
    .ml0\@40{margin-left:0}
    .ml2\@40{margin-left:.5rem}
    .mr2\@40{margin-right:.5rem}
    .mt-_3125\@40{margin-top:.3125rem}
    /*.pb-4_3125\@40{padding-bottom:4.3125rem}*/
    .w-60\@40{width:60%}
}
@media screen and (min-width:48em) {
    .mr-3\@48{margin-right:3rem}
    .mv-1_25\@48{margin-bottom:1.25rem;margin-top:1.25rem}
    /*.pt0\@48{padding-top:0}*/
    /*.w-50\@48{width:50%}*/
}
@media screen and (min-width:53em) {
    .flex\@53{display:-webkit-box;display:-ms-flexbox;display:flex}
    .mb0\@53{margin-left:0}
    .mb-6\@53{margin-bottom:6rem}
    .ml0\@53{margin-left:0}
    .ml3\@53{margin-left:1rem}
    .mr0\@53{margin-right:0}
    .w-auto\@53{width:auto}
}
@media screen and (min-width:57em) {
    .db\@57{display:block}
    .flex\@57{display:-webkit-box;display:-ms-flexbox;display:flex}
    .mb-3_8125\@57{margin-bottom:3.8125rem}
    .mb-5\@57{margin-bottom:5rem}
    .ml2\@57{margin-left:.5rem}
    .mr0\@57{margin-right:.5rem}
    .mr2\@57{margin-right:.5rem}
    .mw-26\@57{max-width:26rem}
    .mw-31_5\@57{max-width:31.5rem}
    .w-50\@57{width:50%}
    .w-100\@57{width:100%}
}
@media screen and (min-width:79em) {
    .ml-5_5\@79{margin-left:5.5rem}
    /*.mw-39\@79{max-width:39rem}*/
    .pr-3\@79{padding-right:3rem}
}
</style>
    <div class="h-30 mt-3   h-37_5-ns mt5-ns   mt0@50"
    style="background:url(../assets/images/location/location_1.jpg) no-repeat center center;background-size:cover;">
    </div>
    <main class="mv3-ns ph3-ns   mv-1_25@48      flex@57">
        <!-- Location two -->
        <div class="flex-column   w-50@57 mr2@57">
            <!-- Location two map -->
            <div class="bg-mid-gray" style="height:28.5rem"></div>

            <!-- Location Two Info -->
            <div class="c-gold bg-dark-brown pb-4_3125 pr3 pt-3_5   pb-3@25   pr4-ns   pr-3@79" >
                <!-- Location Two Name -->
                <h2 class="f4 fw6 lh-2 ml3 mv0 pt-_0625 tracked-narrow ttu wrksns   f3-ns ml4-ns pt0-ns   ml-5_5@79">Daytona Beach, Florida</h2>
                <!-- End Location Two Name -->

                <div class="bg-gold h-_125 mb-1_1875 mt-_3125   mt-_375-ns   mw-31_5@57"></div>

                <div class="lh-2 ml3 tracked-narrow   ml4-ns   flex@40 justify-between@40   db@57 mw-26@57   ml-5_5@79"><!--max-width:416px-->
                    <!-- Address & Hours -->
                    <div class="w-60@40 mb-3_8125   mb0@40 mr2@40   mb-3_8125@57 mr0@57 w-100@57">
                        <p class="mb3 mt0">000 Smith Street<br>Daytona Beach Florida 000000</p>
                        <p class="mb0 mt0">Hours:</p>
                        <div class="flex justify-between   justify-start-ns">
                            <p class="f6 mv0 w-50   f5@23 w-48@25   mw-12-ns">Monday&ndash;Saturday</p>
                            <p class="f6 mv0 w-50 white   f5@23 w-48@25   w-auto-ns ml3-ns">11:30 &ndash; 10:00</p>
                        </div>
                        <div class="flex justify-between   justify-start-ns">
                            <p class="f6 mv0 w-50   f5@23   w-48@25   mw-12-ns">Sunday</p>
                            <p class="f6 mv0 w-50 white   f5@23 w-48@25   w-auto-ns ml3-ns">11:30 &ndash; 9:00</p>
                        </div>
                        <div class="flex justify-between   justify-start-ns">
                            <p class="f6 mv0 w-50   f5@23 w-48@25   mw-12-ns">Bar open late</p>
                            <p class="f6 mv0 w-50 white   f5@23 w-48@25   w-auto-ns ml3-ns">Friday &amp; Saturday</p>
                        </div>
                    </div>
                    <!-- End Address & Hours -->

                    <!-- Event Coordination -->
                    <div class="flex@25 justify-between   w-12-ns   db@40 ml2@40 mt-_3125@40   mr-3@48   flex@53 ml0@53 mr0@53 w-auto@53">
                        <!-- Coordinator Photo -->
                            <img class="db mb-1_5 self-start w-12   mb0@25 w-48@25   w-12-ns   mb-1_5@40   mb0@53" alt="" src="../assets/images/location/portrait.png" />
                        <!-- End Coordinator Photo -->

                        <!-- Coordinator Info -->
                        <div class="w-48@25 ml3@25   w-auto-ns   ml0@40   ml3@53">
                                <!--<h3 class="f4 fw6 jean-luc lh-1_5 mb-_375 nt-_1875 ttu white">Private Event Coordination</h3><!--mb-_875-ns-->
                                <h4 class="fw6 lh-solid mb-1_75 mt0 tracked-narrow ttu wrksns   mb5@25   mb-6@53   mb-5@57">Heather<br class="dn   db@57"> Cox</h4>
                                <a class="c-gold db lh-solid link mb1 mt0 f6@25" href="tel:">000 . 000 . 0000</a>
                                <a class="c-gold db lh-solid link mv0 f6@25" href="mailto:">lambrine@cocina214.com</a>
                        </div>
                        <!-- End Coordinator Info -->
                    </div>
                    <!-- End Event Coordination -->
                </div>
            </div>
            <!-- Location Two Info -->
        </div>



        <!-- Location two -->
        <div class="flex-column   w-50@57 ml2@57">
            <!-- Location two map -->
            <div class="bg-mid-gray" style="height:28.5rem"></div>

            <!-- Location Two Info -->
            <div class="bg-gold pb-4_3125 pr3 pt-3_5   pb-3@25   pr4-ns   pr-3@79" >
                <!-- Location Two Name -->
                <h2 class="f4 fw6 lh-2 ml3 mv0 pt-_0625 tracked-narrow ttu wrksns   f3-ns ml4-ns pt0-ns   ml-5_5@79">Daytona Beach, Florida</h2>
                <!-- End Location Two Name -->

                <div class="bg-dark-brown h-_125 mb-1_1875 mt-_3125   mt-_375-ns   mw-31_5@57"></div>

                <div class="lh-2 ml3 tracked-narrow   ml4-ns   flex@40 justify-between@40   db@57 mw-26@57   ml-5_5@79"><!--max-width:416px-->
                    <!-- Address & Hours -->
                    <div class="w-60@40 mb-3_8125   mb0@40 mr2@40   mb-3_8125@57 mr0@57 w-100@57">
                        <p class="mb3 mt0">000 Smith Street<br>Daytona Beach Florida 000000</p>
                        <p class="mb0 mt0">Hours:</p>
                        <div class="flex justify-between   justify-start-ns">
                            <p class="f6 mv0 w-50   f5@23 w-48@25   mw-12-ns">Monday&ndash;Saturday</p>
                            <p class="f6 mv0 w-50 white   f5@23 w-48@25   w-auto-ns ml3-ns">11:30 &ndash; 10:00</p>
                        </div>
                        <div class="flex justify-between   justify-start-ns">
                            <p class="f6 mv0 w-50   f5@23   w-48@25   mw-12-ns">Sunday</p>
                            <p class="f6 mv0 w-50 white   f5@23 w-48@25   w-auto-ns ml3-ns">11:30 &ndash; 9:00</p>
                        </div>
                        <div class="flex justify-between   justify-start-ns">
                            <p class="f6 mv0 w-50   f5@23 w-48@25   mw-12-ns">Bar open late</p>
                            <p class="f6 mv0 w-50 white   f5@23 w-48@25   w-auto-ns ml3-ns">Friday &amp; Saturday</p>
                        </div>
                    </div>
                    <!-- End Address & Hours -->

                    <!-- Event Coordination -->
                    <div class="flex@25 justify-between   w-12-ns   db@40 ml2@40 mt-_3125@40   mr-3@48   flex@53 ml0@53 mr0@53 w-auto@53">
                        <!-- Coordinator Photo -->
                            <img class="db mb-1_5 self-start w-12   mb0@25 w-48@25   w-12-ns   mb-1_5@40   mb0@53" alt="" src="../assets/images/location/portrait.png" />
                        <!-- End Coordinator Photo -->

                        <!-- Coordinator Info -->
                        <div class="w-48@25 ml3@25   w-auto-ns   ml0@40   ml3@53">
                                <!--<h3 class="f4 fw6 jean-luc lh-1_5 mb-_375 nt-_1875 ttu white">Private Event Coordination</h3><!--mb-_875-ns-->
                                <h4 class="fw6 lh-solid mb-1_75 mt0 tracked-narrow ttu wrksns   mb5@25   mb-6@53   mb-5@57">Heather<br class="dn   db@57"> Cox</h4>
                                <a class="c-dark-brown db lh-solid link mb1 mt0 f6@25" href="tel:">000 . 000 . 0000</a>
                                <a class="c-dark-brown db lh-solid link mv0 f6@25" href="mailto:">lambrine@cocina214.com</a>
                        </div>
                        <!-- End Coordinator Info -->
                    </div>
                    <!-- End Event Coordination -->
                </div>
            </div>
            <!-- Location Two Info -->
        </div>
    </main>
{{ end }}
