{{ define "main" }}

{{ partial "slider/styles" . }}

{{ partial "slider/markup" . }}


<main class=" ph3-ns">
    <h1 class="element-invisible">Loyalty Program</h1>

    <div class="section-animate bg-gold mt2   mv3-ns   flex@53">
        <div class=" mb2 pb-5_3125 pr3 pt-3_5 tracked-narrow   mb3-ns pr4-ns   mb0@53 w-50@53   pr5-l   pr-7@79">
            <div class="fr@90 w-27@90">
                <h1 class="fade-in-right  f4 fw6 lh-2 ml3 mv0 pt-_0625 tracked-narrow ttu w-100 wrksns   f3-ns ml4-ns pt0-ns   fr@79 w-25@79">{{ .Params.content_section_1_title }}</h1>

                <!--   Divider   -->
                <div class="bg-dark-brown h-_125 mb-1_1875 mt-_3125 w-100   mt-_375-ns   fr@79"></div>
                <!-- End Divider -->

                <div class=" lh-2 ml3 white   ml4-ns   fr@79 w-25@79">
                    <div class="fade-in t-del-2  mb-2_6875 measure-wide nested-p">
                        <ul style="padding-left:0;">
                            <li>Join Club 214 and get your first 1000 points</li>
                            <li>Earn 5 points for every dollar you spend</li>
                            <li>Earn double points on Tuesdays</li>
                            <li>Receive special invites to exclusive Club 214 Member-Only events</li>
                        </ul>

                        <a class="b--c-dark-brown ba bw1 c-dark-brown dib f-1_125 h-2_5 hover-bg-dark-brown hover-white jean-luc lh-1_5 link mt-_3125 ph4 pt-_375 tracked-narrow ttu" href="https://cocinatwoonefour.alohaenterprise.com/memberlink/Login.html?companyID=cto02" target="_blank">Loyalty Sign In</a>

                        <br />

                        <a class="b--c-dark-brown ba bw1 c-dark-brown dib f-1_125 h-2_5 hover-bg-dark-brown hover-white jean-luc lh-1_5 link mt-_3125 ph4 pt-_375 tracked-narrow ttu" href="https://cocina214.com/assets/images/Club214_InfoCard_Jan_2019.pdf" style="margin-top:20px;" target="_blank">Download Info Card</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="h-20   h-30-ns   h-auto@53 w-50@53" style="background-image:url(http://cocina214.com/uploads/2017/12/01/happy_hour_margaritas_titos_beer_with_bowl_of_limes.jpg);background-position:center center;background-size:cover"></div>
    </div>

    <div class="section-animate   flex flex-column-reverse mv2   mv3-ns   flex-row@53">
        <div class="h-20   h-30-ns    h-auto@53 w-50@53" style="background-image:url(http://cocina214.com/uploads/2017/12/01/3_margaritas_in_the_bar.jpg);background-position:center center;background-size:cover"></div>

        <div class="bg-dark-brown pb-1_625 pt-3_5 tracked-narrow white   mb0@53 w-50@53   css-ie-flex-shrink">
            <h2 class="fade-in-right t-del-1 c-gold f4 fw6 lh-2 ml3 mv0 pt-_0625 tracked-narrow ttu wrksns   f3-ns ml4-ns pt0-ns   mr5-l   ml-7@79 w-25@79">Exclusive Member-Only Perks</h2>

            <!--   Divider   -->
            <div class="bg-gold h-_125 mb-1_1875 mr3 mt-_3125   mr4-ns mt-_375-ns   mr5-l   w-32@79   ml-5@90   w-27@90"></div>
            <!-- End Divider -->

            <div class="fade-in t-del-2   lh-2 mb-2_6875 measure-wide mh3 nested-p   mh4-ns   mr5-l   ml-7@79 w-25@79">
                <ul style="padding-left:0;">
                    <li>Skinny Sunday: BOGO Skinny Margarita, with the purchase of an entrée (limit 1 per person, per visit)</li>
                    <li>Margarita Monday: 1 Free 214 Rocks or Frozen Margarita, with the purchase of an entrée (limit 1 per person, per visit &amp; offer not valid with other offers)</li>
                    <li>Birthday Love: Receive 1 free Tres Leches on your birthday (must enter bday on sign up)</li>
                    <li>Cash in on Catering: $25 Gift Card for each Catering Order over $500</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="section-animate bg-gold mt2   mv3-ns   flex@53">
        <div class=" mb2 pb-5_3125 pr3 pt-3_5 tracked-narrow   mb3-ns pr4-ns   mb0@53 w-50@53   pr5-l   pr-7@79">
            <div class="fr@90 w-27@90">
                <h1 class="fade-in-right  f4 fw6 lh-2 ml3 mv0 pt-_0625 tracked-narrow ttu w-100 wrksns   f3-ns ml4-ns pt0-ns   fr@79 w-25@79">Club 214 Rewards</h1>

                <!--   Divider   -->
                <div class="bg-dark-brown h-_125 mb-1_1875 mt-_3125 w-100   mt-_375-ns   fr@79"></div>
                <!-- End Divider -->

                <div class=" lh-2 ml3 white   ml4-ns   fr@79 w-25@79">
                    <div class="fade-in t-del-2  mb-2_6875 measure-wide nested-p">
                        <ul style="padding-left:0;">
                            <li>Earn a $10 Gift Card when you accumulate 1000 points</li>
                            <li>Receive 1 FREE Cocina Trio when you accumulate 2500 points</li>
                            <li>Earn a Cocina 214 T-Shirt when you accumulate 5000 points</li>
                            <li>Earn a $25 Gift Card when you accumulate 7500 points</li>
                            <li>Earn a bottle of Patron Blanco when you accumulate 10,000 points</li>
                            <li>Earn a $50 Gift Card when you accumulate 15,000 points</li>
                            <li>Earn a bottle of Don Julio 1942 when you accumulate 20,000 points</li>
                            <li>Earn a bottle of Clase Azul Reposado when you accumulate 25,000 points</li>
                            <li>Earn a 10-person Tequila Tasting experience when you accumulate 50,000 points</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="h-20   h-30-ns   h-auto@53 w-50@53" style="background-image:url(http://cocina214.com/uploads/2017/11/16/winter_park_bar.jpg);background-position:center center;background-size:cover"></div>
    </div>

    <div class="section-animate   flex flex-column-reverse mv2   mv3-ns   flex-row@53">
        <div class="h-20   h-30-ns    h-auto@53 w-50@53" style="background-image:url(http://cocina214.com/uploads/2017/11/15/chips-and-guac.jpg);background-position:center center;background-size:cover"></div>

        <div class="bg-dark-brown pb-1_625 pt-3_5 tracked-narrow white   mb0@53 w-50@53   css-ie-flex-shrink">
            <h2 class="fade-in-right t-del-1 c-gold f4 fw6 lh-2 ml3 mv0 pt-_0625 tracked-narrow ttu wrksns   f3-ns ml4-ns pt0-ns   mr5-l   ml-7@79 w-25@79">Additional Member-Only Perks Throughout the Year</h2>

            <!--   Divider   -->
            <div class="bg-gold h-_125 mb-1_1875 mr3 mt-_3125   mr4-ns mt-_375-ns   mr5-l   w-32@79   ml-5@90   w-27@90"></div>
            <!-- End Divider -->

            <div class="fade-in t-del-2   lh-2 mb-2_6875 measure-wide mh3 nested-p   mh4-ns   mr5-l   ml-7@79 w-25@79">
                <ul style="padding-left:0;">
                    <li>Receive 10% off any Margarita on National Margarita Day, February 22nd</li>
                    <li>Receive a Free glass of Hess Select Chardonnay or 337 Cabernet, with purchase of an entree, on National Wine Day, May 25th</li>
                    <li>Receive 10% off Brisket Tacos &amp; Brisket Quesadillas on National Brisket Day, May 28th</li>
                    <li>Receive $5 off Rotisserie Chicken Tacos &amp; the Rotisserie Chicken Entree on National Rotisserie Chicken Day, June 2nd</li>
                    <li>Receive 10% off any Margarita or Tequila Shot on National Tequila Day, July 24th</li>
                    <li>Receive 10% off Avocado Bites on National Avocado Day, July 31st</li>
                    <li>Receive $5 off any Fajitas on National Fajita Day, August 18th</li>
                    <li>Receive 10% off Guacamole on National Guacamole Day, September 16th</li>
                    <li>Receive 10% off Draft Beer on National Drink Beer Day, September 28th</li>
                    <li>Receive $3 off Tacos on National Taco Day, October 4th</li>
                    <li>Receive 10% off Desserts on National Dessert Day, October 14th</li>
                    <li>Receive 10% off Nacho Macho on National Nacho Day, November 6th</li>
                    <li>Receive 1 free Sangria, with the purchase of an entree, on National Sangria Day, December 20th</li>
                </ul>
            </div>
        </div>
    </div>

</main>
{{ end }}
