/* --   Global Fonts   -- */
 input {font-family:"Work Sans", sans-serif;font-weight:500}
.snip-layout {font-family:"Work Sans", sans-serif;font-weight:400;color:#999696}
.snip-layout .snip-form__label, .snip-layout .snip-static__link, .snip-layout .snip-actions__link {color: #999696}
/* -- End Global Fonts -- */

/* Hide 'Powered by Snipcart' */
#snipcart-footer {display: none}

/* Header */
.snip-layout .snip-header {background:#fff;boorder-bottom:1px solid rgb(238,238,238)}

/* Hide 'My Cart' in header */
#snipcart-title.snip-header__title{display:none}
#snipcart-header-total{background-color:white;padding-top:6px;}
.snip-header__total-label{color:#2B2422!important;font-family:"JeanLuc"!important;font-size:16px!important;letter-spacing:.05em}
#snipcart-amount{color:#D18419;font-family:"JeanLuc"!important;font-size:16px!important;letter-spacing:.05em}
/* End Header */

/* Close Cart Icons */
.snip-layout .snip-layout__close{top:16px}
.snip-layout .snip-ico--close:before {content: url("../icons/close_gray.svg")!important;}
.snip-layout .snip-ico--close:hover:before {content: url("../icons/close_black.svg")!important;}
/* Remove items from cart icons */
.snip-product__remove.snip-ico.snip-ico--close{margin-top:5px}
.snip-product__remove.snip-ico.snip-ico--close:before {content:url("../icons/close_gray.svg")!important;}
.snip-product__remove.snip-ico.snip-ico--close:hover:before {content:url("../icons/close_black.svg")!important;}

/* Hide Quantity, Unit, and Total */
#snipcart-items-header{display:none}
/* Hide Quantity, Unit, and Total */
/* Hide unit price */
.snip-table__cell--right.snip-table__cell--bold.snip-table__small-col{display:none!important}
/* Hide Unit Price */
#snipcart-items,.snip-product__name,.snip-quantity-trigger,.snip-table__cell--highlight,
#snipcart-show-discount-box{font-family:'Stag Book', sans-serif;font-weight:400!important;letter-spacing:.05em;text-transform: capitalize!important}

.snip-layout .snip-product__thumbnail{display:block;}
.snip-product__description{display:none!important}


/* Plus/Minus Product Quantity Buttons */
.snip-quantity-trigger__btn.snip-quantity-trigger__btn--minus{margin-right:3px;padding-top:2px}
.snip-quantity-trigger__btn.snip-quantity-trigger__btn--add{margin-left:3px;padding-top:1px}
.snip-quantity-trigger__btn.snip-quantity-trigger__btn--minus,
.snip-quantity-trigger__btn.snip-quantity-trigger__btn--add{background:rgba(224, 222, 222, .4);}
.snip-quantity-trigger__btn.snip-quantity-trigger__btn--minus:hover,
.snip-quantity-trigger__btn.snip-quantity-trigger__btn--add:hover{background:rgba(224, 222, 222, .8);}
/* Plus/Minus Product Quantity Buttons */

/* - Next/Prev Action Buttons - */
.snip-actions > .snip-btn {
    border-radius:3px;
    font-family:"JeanLuc";
    height: 28px;
    padding-top:2px;
    letter-spacing:.1em;
    line-height:24px;
    color: #fff;
    font-size: 12px;
}
.snip-actions > .snip-btn--highlight {background-color:hsl(35, 79%, 46%)}
.snip-actions > .snip-btn--highlight:hover {background-color:hsl(35, 75%, 49%)}
/* End Next/Prev Action Buttons */
#snipcart-previous{background-color:#3f3532}

.snip-layout .snip-step__item{background-color:/*e0dede*/#fff;color:#999696;border-color:rgb(238,238,238)!important;margin-left:auto!important;margin-right:auto!important}
.snip-step__item.js-active > .snip-step__nb.snip-ico {color:#2b2422}
.snip-step__item.js-active{background-color:/*#e0dede*/#fff!important;}

/* Loading bar */
.snip-layout .snip-loader--bar:before {
    display: block;
    position: absolute;
    content: "";
    left: -200px;
    width: 30%;
    height: .3em;
    background-color:hsl(35, 79%, 46%);
    -webkit-animation: snip-loading 2s ease-in-out infinite;
    animation: snip-loading 2s ease-in-out infinite
}



/* Product photo/name */
.snip-table__cell--clear{display: -webkit-box!important; display: -ms-flexbox!important; display: flex!important;
-webkit-box-align: center; -ms-flex-align: center; align-items: center}

/* MOBILE STYLES */
@media screen and (max-width:48em) {
    /* Close Icon */
    .snip-layout .snip-product__remove {
        position: absolute;
        right: 12px/*.28571em;*/;
        top: 0;/*.57143em
    }
    /* Padding */
    .snip-table__item{padding-left:4px!important;padding-right:4px!important}
    .snip-col{padding-left:18px!important;padding-right:18px!important}
    /*#snipcart-discounts{padding-left:4px!important;padding-right:4px!important}*/
    #snipcart-actions,.snip-actions{padding-left:18px!important;padding-right:18px!important}
    /* Product photo/name */
    .snip-table__cell--clear{padding-bottom:0!important;paadding-top:30px!important}
    .snip-product__thumbnail{-ms-flex: 1 0 auto;flex: 1 0 auto;max-width:65px}
    .snip-product__name{font-size:14px!important;}
    /* Product quantity */
    .snip-table__cell--center.snip-table__small-col{margin-top:0}
    .snip-quantity-trigger{-webkit-box-pack: start!important; -ms-flex-pack: start!important; justify-content: flex-start!important;}
    /* Product Price */
    .snip-table__cell--right.snip-table__cell--highlight.snip-table__small-col{border:none;float:right;margin-top:0;text-align:right;}
}
@media only screen and (min-width:48em) {
    /* Remove Header Bottom Border*/
    .snip-layout .snip-header {border-bottom:1px solid #fff}
    /* Adjust spacing of subtotal */
    #snipcart-header-total{padding-top:0;margin-top:33px;}
    .snip-header__total-label, #snipcart-amount{font-size:18px!important}
    .snip-actions > .snip-btn {
        font-size: 16px;
        height: 36px;
        padding-top:6px;
    }
    .snip-layout .snip-layout__close{top:12px;right:16px}
    /* Align remove item icon with item title */
    .snip-product__remove.snip-ico.snip-ico--close{margin-top:-2px}

    .snip-step__item{paddding-left:0!important;}
    .snip-step__item i{display:none!important}
    .snip-step__item p {font-size:.75rem!important;width:auto!important;margin-left:auto!important;margin-right:auto!important;letter-spacing:.025em}
    #snipcart-checkout-step{padding-left:0!important;}
    #snipcart-checkout-step i:before{content:" "}
    #snipcart-checkout-step p{margin-left:auto;margin-right:auto}
}
/*
.snip-layout .snip-btn--highlight {
    background: rgba(209,132,25,.9);
    color: #fff
}

.snip-layout .snip-btn--highlight:hover {
    background-color: #eadf4a
}*/





/* Replacing #333 with brown */
.snip-layout input[type=password]:focus,
.snip-layout input[type=password]:hover,
.snip-layout input[type=text]:focus,
.snip-layout input[type=text]:hover,
.snip-layout select:focus,
.snip-layout select:hover {
    border-color: #333
}
.snip-layout .snip-flash__item {
    border-bottom: 1px solid #333;
}

.snip-layout .snip-layout__loading,
.snip-layout .snip-table .snip-table__cell__notices div.snip-table__cell__notices--warning,
.snip-layout .snip-table .snip-table__cell__notices div.snip-table__cell__notices--error,
.snip-layout .snip-table__loading,
.snip-layout .snip-table__cell--highlight,
.snip-layout .snip-product__name,
.snip-layout .snip-form__help,
.snip-layout .snip-step__item.js-active,
.snip-layout .snip-error__title,
.snip-layout .snip-static__title,
.snip-layout .snip-static__link:hover,
.snip-layout .snip-flash__item--success,
.snip-layout .snip-flash__item--warn,
.snip-layout .snip-badge--success,
.snip-layout .snip-badge--warn {
    color: #332b29
}
