<footer class="bg-putty f7 fw6 pb-3 ph3 pt-2_5 tc tracked-narrow ttu wrksns   f6-ns ph4-ns">
    <img alt="" class="link mb4 mt-_75   css-footer-logo" src="assets/logos/logo_small.svg" />
    <div class="center flex justify-between mb4 w4   mb4-ns">
        <a class="db dim h-1_75 link w-1_75" href="https://twitter.com">
            <img class="h-1_75 w-1_75" src="assets/icons/twitter.svg" />
        </a>
        <a class="db dim h-1_75 link w-1_75" href="https://facebook.com">
            <img class="h-1_75 w-1_75" src="assets/icons/facebook.svg" />
        </a>
        <a class="db dim h-1_75 link w-1_75" href="https://instagram.com">
            <img class="h-1_75 w-1_75" src="assets/icons/instagram.svg" />
        </a>
    </div>
    <a class="c-dark-brown db dim lh-title link mv0 pb3" href="mailto:info@cocina214.com">info@cocina214.com</a>
    <a class="c-dark-brown db dim lh-title link mv0 pb3" href="https://www.google.com/maps/place/Cocina+214/@28.596916,-81.3525747,17z/data=!3m1!4b1!4m5!3m4!1s0x88e7701a9984e623:0x16d50fb8ac0d377e!8m2!3d28.596916!4d-81.350386">151 Welbourne Ave East, Winter Park, FL 32789</a>
    <a class="c-dark-brown db dim lh-title link mv0 pb3" href="tel:407-790-7997">407 . 790 . 7997</a>
    <p class="c-dark-brown lh-title mv0">&copy; <script type="text/javascript"> document.write(new Date().getFullYear()); </script> Cocina 214 WP LLP</p>
</footer>
