
<div class="bg-white-95f bg-grefen dt fixed right-0 top-0 vh-100 w-100 z-0   db@50 h3@50 static@50   js-nav">
    <div class="fixed top-0 h-3 bb b--light-gray w-100   h3-ns   dn@50" style="margin-top:1px;"></div>
    <div class="bgf-blue dtc f-1_0625 fw4 ph3 pt4 tc v-mid wrksns   f4@23   ph4-ns   db@50 f5@50 flex@50 fw5@50 h3@50 items-center@50 justify-between@50 plk5@50 pt-_125@50   center-l f-1_0625-l fw6-l mw-73-l ph5-l pt-1_25-l" style="width">
        <a class="b--light-gray bb c-gold dn hover-c-putty lh-solid link mb3 pb3 tracked   bn@50 fw6@50 mb0@50 pb0@50 tracked-narrow@50 ttu@50  db-l" href="/">Home</a>
        <a class="b--light-gray bb c-gold db hover-c-putty lh-solid link mb3 pb3 tracked   bn@50 fw6@50 mb0@50 pb0@50 tracked-narrow@50 ttu@50   css-current-page-link" href="/about">About</a>
        <a class="b--light-gray bb c-gold db hover-c-putty lh-solid link mb3 pb3 tracked   bn@50 fw6@50 mb0@50 pb0@50 tracked-narrow@50 ttu@50" href="">Locale</a>
        <a class="b--light-gray bb c-gold db hover-c-putty lh-solid link mb3 pb3 tracked   bn@50 fw6@50 mb0@50 pb0@50 tracked-narrow@50 ttu@50" href="">Dine</a>
        <a class="b--light-gray bb c-gold db hover-c-putty lh-solid link mb3 pb3 tracked   bn@50 fw6@50 mb0@50 pb0@50 tracked-narrow@50 ttu@50" href="">News</a>
        <a class="b--light-gray bb c-gold db hover-c-putty lh-solid link mb3 pb3 tracked   bn@50 fw6@50 mb0@50 pb0@50 tracked-narrow@50 ttu@50" href="">Shop</a>
        <a class="c-gold db hover-c-putty lh-solid link tracked   fw6@50 mb0@50 tracked-narrow@50 ttu@50" href="">Contact</a>
    </div>
<div>
