<!--Nav for Displays Wider 50em and Up -->
<div class="dn w-100   db@50 h3@50 static@50   css-ie-flex-shrink">
    <div class="fw4 wrksns   ph4-ns   db@50 f5@50 flex@50 fw5@50 h3@50 items-center@50 justify-between@50 pl5@50 pt-_125@50   center-l f-1_0625-l fw6-l mw-73-l pr5-l pt-1_25-l">
        <a class="c-gold dn fw6 hover-c-dark-brown lh-solid link mb0 pb0 tracked-narrow ttu   db-l" href="/">Home</a>
        <a class="c-gold db hover-c-dark-brown lh-solid link mb0 pb0 tracked-narrow ttu   bn@50 fw6@50   css-current-page-link" href="/about">About</a>
        <a class="c-gold db hover-c-dark-brown lh-solid link mb0 pb0 tracked-narrow ttu   bn@50 fw6@50" href="">Location</a>
        <a class="c-gold db hover-c-dark-brown lh-solid link mb0 pb0 tracked-narrow ttu   bn@50 fw6@50" href="">Dine</a>
        <a class="c-gold db hover-c-dark-brown lh-solid link mb0 pb0 tracked-narrow ttu   bn@50 fw6@50" href="">News</a>
        <a class="c-gold db hover-c-dark-brown lh-solid link mb0 pb0 tracked-narrow ttu   bn@50 fw6@50" href="">Shop</a>
        <a class="c-gold db hover-c-dark-brown lh-solid link mb0 pb0 tracked-narrow ttu   fw6@50" href="">Contact</a>
    </div>
</div>

<!--Nav for Displays Narrower than 50em -->
<div class="bg-white-95 dt fixed right-0 top-0 vh-100 w-100 z-0   dn@50  js-nav">
    <div class="fixed top-0 h-3 bb b--light-gray w-100   h3-ns" style="margin-top:1px;"></div>
    <div class="dtc f-1_0625 fw4 ph3 pt4 tc v-mid wrksns   f4@23   ph4-ns">
        <a class="b--light-gray bb c-gold db hover-c-dark-brown lh-solid link mb3 pb3 tracked   css-current-page-link" href="/about">About</a>
        <a class="b--light-gray bb c-gold db hover-c-dark-brown lh-solid link mb3 pb3 tracked" href="">Location</a>
        <a class="b--light-gray bb c-gold db hover-c-dark-brown lh-solid link mb3 pb3 tracked" href="">Dine</a>
        <a class="b--light-gray bb c-gold db hover-c-dark-brown lh-solid link mb3 pb3 tracked" href="">News</a>
        <a class="b--light-gray bb c-gold db hover-c-dark-brown lh-solid link mb3 pb3 tracked" href="">Shop</a>
        <a class="                 c-gold db hover-c-dark-brown lh-solid link         tracked" href="">Contact</a>
    </div>
</div>
