{{ define "main" }}
<style>
/* Hide dropdown select arrow in IE10/11 */
select::-ms-expand {
    display: none;
}
/* Custom select styling */
.css-select{
    background-image:url(/assets/icons/select-background.svg);
    background-repeat:no-repeat;
    background-size: 8.25rem 2.25rem
}


.css-product-photo-grid-item-outer{
    width:22.9910714283%;
}
.css-product-photo-grid-item-inner{
    margin-top:11.65048544%;
}
.css-product-photo-grid-item-inner.active{border:2px solid;
border-color:rgba(209,132,25,.7)}
.custom-dim:hover{
    -webkit-transition:opacity .15s ease-in;transition:opacity .15s ease-in;
    opacity:.5
}
@media screen and (min-width:30em) {
    .css-product-photo-grid{margin-left:12px}
    .css-product-photo-grid-item-outer{
        width:100%;
    }
    .css-product-photo-grid-item-inner{
        margin-bottom:15%;
        margin-top:0
    }
}
@media screen and (min-width:53em) {
    .css-product-photo-grid{margin-left:0}
    .css-product-photo-grid-item-outer{
        margin-right:2.777777778%;
        width:18.51851852%
    }
    .css-product-photo-grid-item-inner{
        margin-bottom:0;
        margin-top:15%
    }
}
</style>
<main class="bg-white mt-3 pb5   mt5-ns   mt0@50">

    <div class="flex@53">
        <!--   Product Info / Add-to-Cart   -->
        <div class="mb-2_8125 pr3 pt4   pr4-ns   mb0@53 pt-3_5@53 w-55@53   pr5@72 w-50@72">
            <!--   Product Title   -->
            <div class="pr3   pr4-ns   pr5-l   flex@72 justify-end@72 pr0@72">
                <h1 class="f4 fw6 lh-2 ml3 mv0 pt-_0625 tracked-narrow ttu wrksns w-100   f3-ns ml4-ns pt0-ns   ml5-l   mw-28@72">{{ .Title }}</h1>
            </div>
            <!-- End Product Title -->

            <!--   Divider   -->
            <div class="flex@72 justify-end@72">
                <div class="bg-gold h-_125 mb-1_375 mt-_3125 w-100   mt-_375-ns   w-30@90"></div>
            </div>
            <!-- End Divider -->

            <!--   Product Info / Add-to-Cart   -->
            <div class="flex@72 justify-end@72">
                <div class="lh-2 ml3 tracked-narrow   ml4-ns   ml5-l   mw-28@72">
                    <!--   Product Description   -->
                    <div class="measure-wide">
                        <p class="f3 fw6 jean-luc mb-1_3125 mt0   f-1_75-ns">${{ .Params.product_price }}</p>
                        <div class="nested-p mb-2_8125">
                            {{ .Content }}
                        </div>
                    </div>
                    <!-- End Product Description -->

                    <!--   Product Details/Add-to-Cart   -->
                    <div class="flex flex-column-reverse   flex-row@40 justify-between@40   justify-start@49   flex-column-reverse@53">
                        {{if .Params.product_details }}
                            <!--   Product Details   -->
                            <div class="nested-list lh-2   pr4@49 w-27@49   pr0@53 w-auto@53">
                                <h2 class="f-1_125 fw6 mb-2_0625 mt0 tracked-narrow ttu wrksns   nt-_375@40   mt0@53">Details</h2>
                                <ul>
                                    {{ range .Params.product_details }}
                                        <li>{{ . }}</li>
                                    {{ end }}
                                </ul>
                            </div>
                            <!-- End Product Details -->
                        {{ end }}

                        <!--   Add-to-Cart   -->
                        <div class="mb-2_875   mb0@40    {{if .Params.details }}ml4@40   ml-_75@49 {{end}}  mb-2_875@53 ml0@53">
                            <div class="flex justify-between mb-_1875 w-18">
                                {{if .Params.product_options }}
                                    <select class="b--c-dark-brown ba bg-transparent br0 bw1 custom-dim fw6 h-2_5 input-reset jean-luc pl3 pointer tracked-narrow w-8_5   css-select">
                                        {{ range .Params.product_options }}
                                            <option value="{{ . }}">{{ . }}</option>
                                    <!--
                                    <option class="dn" value="" disabled selected>Choose Size</option>
                                    <option value="value2">Value 1</option>
                                    <option value="value3">Value 2</option>
                                    -->
                                        {{ end }}
                                    </select>
                                {{ end }}
                                <button class=" bn bg-red fw6 h-2_5 hover-b--c-red hover-ba hover-bg-white hover-c-red hover-bw1 jean-luc pointer tracked-narrow w-8_5 white">Add to Cart</button>
                            </div>
                            {{if .Params.product_size_guide }}
                                <a class="c-dark-brown custom-dim f7 hover-no-underline link mv0 underline wrksns" href="{{ .Params.product_size_guide }}">Size Guide</a>
                            {{ end }}
                        </div>
                        <!-- End Add-to-Cart -->
                    </div>
                    <!-- End Product Details/Add-to-Cart -->
                </div>
            </div>
            <!-- End Product Info / Add-to-Cart -->
        </div>
        <!-- End Product Info / Add-to-Cart -->

        <!--   Product Photos   -->
        <div class="ph3 self-start   ph4-ns   pl0@53 w-45@53   pr0-l   w-50@72">
            <div class="flex-ns   db@53 mt-3_5@53 mw-27@53   mr5-l   ml-5@72">
                <!--   Featured Product Photo   -->
                <div class="self-start   mw-27-ns">
                    <img class="db w-100   js-product-photo-featured" src="{{ .Params.product_featured_image }}" />
                </div>
                <!-- End Featured Product Photo -->

                <!---   Product Photo Grid   -->
                <div class="flex flex-wrap justify-between   flex-column-ns justify-start-ns w-5_5-ns mw-5_5-ns   flex-row@53  justify-start@53 mw-100@53 w-100@53   css-product-photo-grid css-no-flex-shrink   js-product-photo-grid">
                    <div class="css-product-photo-grid-item-outer">
                        <a class="db custom-dim   css-product-photo-grid-item-inner" href="{{ .Params.product_featured_image }}">
                            <img class="db mb0 w-100" src="{{ .Params.product_featured_image }}" />
                        </a>
                    </div>
                    {{ range .Params.product_images }}
                    <div class="css-product-photo-grid-item-outer">
                        <a class="db custom-dim   css-product-photo-grid-item-inner" href="{{ . }}">
                            <img class="db mb0 w-100" src="{{ . }}" />
                        </a>
                    </div>
                    {{ end }}
                </div>
                <!-- End Product Photo Grid -->
            </div>
        </div>
        <!-- End Product Photos -->
    </div>


    <div class="ph3   ph4-ns   ph5-l">
        <div class="center w-100 mw-64">
            <!--   Back to News Button   -->
            <a class="c-dark-brown dib f4 jean-luc lh-solid link mb0 mt-2_4375 tracked-narrow ttu   css-back-arrow-link" href="/shop">Back to Shop</a>
            <!-- End Back to News Button -->
        </div>
    </div>
</main>
{{ end }}
