{{ define "main" }}
<style>
.f-1_75{font-size:1.75rem}


/* Hide dropdown select arrow in IE10/11 */
select::-ms-expand {
    display: none;
}
/* Custom select styling */
.css-select{
    background-image:url(/assets/icons/select-background.svg);
    background-repeat:no-repeat;
    background-size: 8.25rem 2.25rem
}


.css-product-photo-grid-item-outer{
    width:22.9910714283%;
}
.css-product-photo-grid-item-inner{
    margin-top:11.65048544%;
}
.css-product-photo-grid-item-inner.active{border:2px solid;
border-color:rgba(209,132,25,.7)}
.custom-dim:hover{
    -webkit-transition:opacity .15s ease-in;transition:opacity .15s ease-in;
    opacity:.5
}
@media screen and (min-width:30em) {
    .css-product-photo-grid{margin-left:12px}
    .css-product-photo-grid-item-outer{
        width:100%;
    }
    .css-product-photo-grid-item-inner{
        margin-bottom:15%;
        margin-top:0
    }
}
@media screen and (min-width:53em) {
    .css-product-photo-grid{margin-left:0}
    .css-product-photo-grid-item-outer{
        margin-right:2.777777778%;
        width:18.51851852%
    }
    .css-product-photo-grid-item-inner{
        margin-bottom:0;
        margin-top:15%
    }
}

.hover-no-underline:hover{text-decoration:none}
.mb-_1875{margin-bottom:.1875rem}
.mb-1_3125{margin-bottom:1.3125rem}
.mb-1_375{margin-bottom:1.375rem}
.mb-2_0625{margin-bottom:2.0625rem}
.mb-2_875{margin-bottom:2.875rem}

.w-8_5{width:8.5rem}
.w-18{width:18rem}
@media screen and (min-width:30em) {
    .mw-5-ns{max-width:5rem}
    .mw-27-ns{max-width:27em}
}
@media screen and (min-width:40em) {
    .flex-row\@40{-webkit-box-orient:horizontal;-ms-flex-direction:row;flex-direction:row;}
    .justify-between\@40{-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between}

    .mb0\@40{margin-bottom:0}

    .ml4\@40{margin-left:2rem}

    .nt-_375\@40{margin-top:-.375rem}
}
@media screen and (min-width:796px) {
    .justify-start\@49{-webkit-box-pack:start;-ms-flex-pack:start;justify-content:flex-start}

    .ml-_75\@49{margin-left:.75rem}

    .pr4\@49{padding-right:2rem}

    .w-27\@49{width:27rem}
}
@media screen and (min-width:53em) {
    .flex-column-reverse\@53{-webkit-box-orient:vertical;-webkit-box-direction:reverse;-ms-flex-direction:column-reverse;flex-direction:column-reverse}
    .flex-row\@53{-webkit-box-orient:horizontal;-ms-flex-direction:row;flex-direction:row;}

    .mb-2_875\@53{margin-bottom:2.875rem}

    .ml0\@53{margin-left:0}

    .mt0\@53{margin-top:0}
    .mt-3_5\@53{margin-top:3.5rem}

    .pl0\@53{padding-left:0}

    .pr0\@53{padding-right:0}

    .pt-3_5\@53{padding-top:3.5rem}

    .w-auto\@53{width:auto}
    .w-40\@53{width:45%}
    .w-60\@53{width:55%}
    .w-100\@53{width:100%}

    .mw-27\@53{max-width:27rem}
    .mw-100\@53{max-width:100%}
}
@media screen and (min-width:72em) {
    .flex\@72{display:-webkit-box;display:-ms-flexbox;display:flex}
    .justify-end\@72{-webkit-box-pack:end;-ms-flex-pack:end;justify-content:flex-end}

    .ml-5\@72{margin-left:5rem}

    .pr5\@72{padding-right:4rem}

    .w-50\@72{width:50%}

    .mw-28\@72{max-width:28rem}
}
@media screen and (min-width:90em) {
    .w-30\@90{width:30em}
}
</style>
<main class="bg-white mt-3 pb5   mt5-ns   mt0@50">
    <h1 class="element-invisible">Our Locations</h1>
    {{ .Section }}

    <div class="flex@53">
    <!--   Product Info / Add-to-Cart   -->
    <div class="mb-2_8125 pr3 pt4   pr4-ns   mb0@53 pt-3_5@53 w-60@53   pr5@72 w-50@72">
        <!--   Product Title   -->
        <div class="flex@72 justify-end@72">
            <h1 class="f4 fw6 lh-2 ml3 mv0 pt-_0625 tracked-narrow ttu wrksns w-100   f3-ns ml4-ns pt0-ns   ml5-l   mw-28@72">{{ .Title }}</h1>
        </div>
        <!-- End Product Title -->

        <!--   Divider   -->
        <div class="flex@72 justify-end@72">
            <div class="bg-gold h-_125 mb-1_375 mt-_3125 w-100   mt-_375-ns   w-30@90"></div>
        </div>
        <!-- End Divider -->

        <!--   Product Info / Add-to-Cart   -->
        <div class="flex@72 justify-end@72">
            <div class="lh-2 ml3 tracked-narrow   ml4-ns   ml5-l   mw-28@72">
                <!--   Product Description   -->
                <div class="measure-wide">
                    <p class="f-1_75 fw6 jean-luc mb-1_3125 mt0">${{ .Params.Price }}</p>
                    <div class="nested-p mb-2_8125">
                        {{ .Content }}
                    </div>
                </div>
                <!-- End Product Description -->

                <!--   Product Details/Add-to-Cart   -->
                <div class="flex flex-column-reverse   flex-row@40 justify-between@40   justify-start@49   flex-column-reverse@53">
                    {{if .Params.details }}
                        <!--   Product Details   -->
                        <div class="nested-list lh-2   pr4@49 w-27@49   pr0@53 w-auto@53">
                            <h2 class="f-1_125 fw6 mb-2_0625 mt0 tracked-narrow ttu wrksns   nt-_375@40   mt0@53">Details</h2>
                            <ul>
                                {{ range .Params.details }}
                                    <li>{{ . }}</li>
                                {{ end }}
                            </ul>
                        </div>
                        <!-- End Product Details -->
                    {{ end }}

                    <!--   Add-to-Cart   -->
                    <div class="mb-2_875   mb0@40    {{if .Params.details }}ml4@40   ml-_75@49 {{end}}  mb-2_875@53 ml0@53">
                        <div class="flex justify-between mb-_1875 w-18">
                            {{if .Params.options }}
                                <select class="b--c-dark-brown ba bg-transparent br0 bw1 custom-dim fw6 h-2_5 input-reset jean-luc pl3 pointer tracked-narrow w-8_5   css-select">
                                    {{ range .Params.options }}
                                    <option value="{{ . }}">{{ . }}</option>
                                    <!--
                                    <option class="dn" value="" disabled selected>Choose Size</option>
                                    <option value="value2">Value 1</option>
                                    <option value="value3">Value 2</option>
                                    -->
                                    {{ end }}
                                </select>
                            {{ end }}
                            <button class=" bn bg-red fw6 h-2_5 hover-b--c-red hover-ba hover-bg-white hover-c-red hover-bw1 jean-luc pointer tracked-narrow w-8_5 white">Add to Cart</button>
                        </div>
                        {{if .Params.chart }}
                            <a class="c-dark-brown custom-dim f7 hover-no-underline link mv0 underline wrksns" href="{{ .Params.chart }}">Size Guide</a>
                        {{ end }}
                    </div>
                    <!-- End Add-to-Cart -->
                </div>
                <!-- End Product Details/Add-to-Cart -->
            </div>
        </div>
        <!-- End Product Info / Add-to-Cart -->
    </div>
    <!-- End Product Info / Add-to-Cart -->

    <!--   Product Photos   -->
    <div class="ph3 self-start   ph4-ns   pl0@53 w-40@53   pr0-l   w-50@72">
        <div class="flex-ns   db@53 mt-3_5@53 mw-27@53   mr5-l   ml-5@72">
            <!--   Featured Product Photo   -->
            <div class="self-start   mw-27-ns">
                <img class="db w-100   js-product-photo-featured" src="/shop_detail.png" />
            </div>
            <!-- End Featured Product Photo -->

            <!---   Product Photo Grid   -->
            <div class="flex flex-wrap justify-between   flex-column-ns justify-start-ns mw-5-ns   flex-row@53 justify-start@53 mw-100@53   css-product-photo-grid   js-product-photo-grid">
                <div class="css-product-photo-grid-item-outer">
                    <a class="db custom-dim   css-product-photo-grid-item-inner" href="/shop_detail.png">
                        <img class="db mb0 w-100" src="/shop_detail.png" />
                    </a>
                </div>
                <div class="css-product-photo-grid-item-outer">
                    <a class="db custom-dim   css-product-photo-grid-item-inner" href="/shop_detail.png">
                        <img class="db mb0 w-100" src="/shop_detail.png" />
                    </a>
                </div>
                <div class="css-product-photo-grid-item-outer">
                    <a class="db custom-dim   css-product-photo-grid-item-inner" href="/shop_detail.png">
                        <img class="db mb0 w-100" src="/shop_detail.png" />
                    </a>
                </div>
                <div class="css-product-photo-grid-item-outer">
                    <a class="db custom-dim   css-product-photo-grid-item-inner" href="/shop_detail.png">
                        <img class="db mb0 w-100" src="/shop_detail.png" />
                    </a>
                </div>
            </div>
            <!-- End Product Photo Grid -->
        </div>
    </div>
    <!-- End Product Photos -->
</div>


    <div class="ph3   ph4-ns   ph5-l">
        <div class="center w-100 mw-64">
            <!--   Back to News Button   -->
            <a class="c-dark-brown dib f4 jean-luc lh-solid link mb0 mt-2_4375 tracked-narrow ttu   css-back-arrow-link" href="/shop">Back to Shop</a>
            <!-- End Back to News Button -->
        </div>
    </div>
</main>
{{ end }}
